.containerCard{
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: wrap;
border-radius: 20px;
width: 300px;
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
transition: all .3s ease;
border:deeppink 1px solid;
box-shadow: inset 0 0 10px deeppink,0 0 15px deeppink;
margin-top: 20px;
margin-bottom: 20px; 
}

.containerCard:hover{ 
box-shadow: inset 0 0 20px deeppink,0 0 20px deeppink;
}

.img{
max-width: 270px;
max-height: 200px; 
width: 100%;
height: 250px;
border-radius: 10px;
box-shadow: 0 0 10px rgb(43, 20, 255);
margin-left: 15px;
}

.title{
margin-top: 10px;
text-decoration: none;
font-family: "Finlandica";
font-weight: 400;
color: rgb(245, 178, 214);
text-shadow: 0 0 0.250em rgb(43, 20, 255);
}


.generos{
    margin-top: 1px;
color: white;
}

.buttonCard{
color: rgb(128, 127, 146);
background-color: black;
border: 1px rgb(36, 20, 255) solid;
cursor: pointer;
transition: all .3s ease;
font-family: "Finlandica";
font-weight: 700;
margin-right: 5px;
margin-top: 10px;
margin-bottom: 10px;
}

.buttonCard:hover{
color: white;
background-color: rgb(36, 20, 255);
}